.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBtn {
  color: white !important;
  text-decoration: none;
  outline: none !important;
}

.activeNavBtn {
  color: rgb(245, 11, 245) !important;
  text-decoration: underline;
}
