.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button:focus {
  // color: rgb(6, 81, 194) !important; 
}

.navBtn {
  color: white !important;
//   color: rgb(6, 81, 194) !important;
outline: none !important;
}