.authBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formOfAuth {}

.textFieldReg {
  margin-top: 18px;
  // padding-top: 30px;
} 
.input {
  
  // margin-top: 18px;
  // padding-bottom: 30px;
}

.label {
  // background-color: ;
}